@import "tailwindcss";

@theme {
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 2.5rem; /* 40px */
  --spacing-3xl: 3rem; /* 48px */
  --spacing-4xl: 3.5rem; /* 56px */
  --spacing-5xl: 4rem; /* 64px */
  --spacing-6xl: 5rem; /* 80px */
  --spacing-7xl: 6rem; /* 96px */
  --spacing-8xl: 7rem; /* 112px */
  --spacing-9xl: 8rem; /* 128px */
  --spacing-10xl: 9rem; /* 144px */
}
