@import "tailwindcss";
@import "@fontsource-variable/playfair-display";

@theme {
  --font-playfair: "Playfair Display Variable", serif;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 3.5rem;
  --spacing-5xl: 4rem;
  --spacing-6xl: 5rem;
  --spacing-7xl: 6rem;
  --spacing-8xl: 7rem;
  --spacing-9xl: 8rem;
  --spacing-10xl: 9rem;

  --color-about-text: #fce6d2;
  --color-about-bg: #995435;

  --breakpoint-sm-425: 425px;
}
